@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --radius    : 10px;
  --fontTitulo: Montserrat, sans-serif;
  --fonteTexto: Montserrat, sans-serif;
  --fonteLink : Montserrat, sans-serif;
  --fonteBotao: Montserrat, sans-serif;
  --corFonteBg: #FFFFFF;
  --corFonte  : #414141;
  --tamFonte  : 1rem;
  --tamFonteMenor: .8rem;
  --margin    : 30px;
  --transition: var(--transition);
}

* {
  font-family: var(--fonteTexto);
  /*color: var(--corFonteBg);*/
  font-size: var(--tamFonte);
  transition: var(--transition);
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(45deg, #00bf93, #9000bf);
}

.container {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.filtros {
  margin: var(--margin) 0;
}
.filtros,
.filtros > .dvBtsFiltros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--margin);
}
.filtros > .dvBtsFiltros {
  flex-direction: row;
  gap: 5px;
}
.filtros button,
.filtros input {
  position: relative;
  color: var(--corFonte);
  /*text-transform: uppercase;*/
  letter-spacing: 1px;
  font-weight: bold;
  border: none;
  padding: 15px 20px;
  border-radius: var(--radius);
  cursor: pointer;
}
.filtros > .dvBtsFiltros button {
  /*width: 300px;*/
  background-image: linear-gradient(45deg, #07ffc6, #bcbf00);
}
.filtros > .dvBtsFiltros button:not(.ativo) {
    opacity: .5;
}
.filtros button:hover {
  background-image: linear-gradient(90deg, #bcbf00, #07ffc6);
}
.filtros input {
    background-image: linear-gradient(45deg, #f1f1f1, #cacaca);
    cursor: auto;
    width: 180px;
}

.filtros button:hover,
.tweets > div:hover {
  box-shadow: 0 10px 10px -5px var(--corFonte);
}

.filtros button[custom-title]:hover::after {
    content: attr(custom-title);
    width: max-content;
    position: absolute;
    bottom: -100%;
    right: 0;
    background-color: var(--corFonte);
    color: var(--corFonteBg);
    font-weight: normal;
    text-align: left;
    padding: 10px;
    border-radius: var(--radius);
    transition: var(--transition);
}

.tweets {
  gap: var(--margin);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
}
.tweets > div {
  background-color: #FFFFFF;
  box-sizing: border-box;
  padding: var(--margin);
  border-radius: var(--radius);
  width: 400px;
}
.tweets * {
  color: var(--corFonte);
}
.tweets > div .nomeExibicao {
  font-weight: bold;
}
.tweets > div .nomeArroba,
.tweets > div .dataTweet {
  font-size: var(--tamFonteMenor);
}

.tweets > div .cabecalho {
  display: flex;
  gap: 5px;
}
.tweets > div .cabecalho .img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #CCCCCC;
  margin: 0 5px 5px 0;
}