<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <form action="/user_tweets">
      <div class="form-group">
        <label for="pesquisa">Palavra:</label>
        <input type="pesquisa" class="form-control" id="pesquisa" name = "pesquisa">
      </div>
      <br>
      <button type="submit" class="btn btn-default">Meus Tweets</button>
    </form>
    <br>
    <form action="/timeline_tweets">
        <button type="submit" class="btn btn-default">Timeline Tweets</button>
    </form>
</body>
</html>