<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Tweets</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="filtros">
            <button id="btMeusTweets">Meus Tweets</button>
            <button id="btTimeline">Timeline</button>
        </div>

        <div class="tweets">

            {% for tweet in tweets.values() %}
                <div class="{% if tweet.user.screen_name == "PichamonUcl" %}meuTweet{% else %}tweet{% endif %}">
                    <div class="cabecalho">
                        <div class="img">
                            <img alt="{{ tweet.user.screen_name }}" src="{{ tweet.user.profile_image_url }}">
                        </div>
                        <div class="nome">
                            <a href="https://twitter.com/{{ tweet.user.screen_name }}" target="_blank">
                                <span class="nomeExibicao">{{ tweet.user.name }}</span>
                                <span class="nomeArroba">@{{ tweet.user.screen_name }}</span>
                            </a>
                            <br>
                            <span class="dataTweet">{{ tweet.created_at }}</span>
                        </div>
                    </div>
                    <div class="corpo">
                        <div class="texto">
                            <p>{{ tweet.text }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    <script>
        const btMeusTweets = document.getElementById("btMeusTweets");
        const meusTweets = document.getElementsByClassName("meuTweet");
        var btMeusTweetsEstaAtivo = false;

        btMeusTweets.onclick = function(){
            btMeusTweets.classList.toggle("ativo");
            btMeusTweetsEstaAtivo = !btMeusTweetsEstaAtivo;
            if (btMeusTweetsEstaAtivo) {
                for (var i=0; i<meusTweets.length; i++) {
                    meusTweets.item(i).style.display = "none";
                }
            } else {
                for (var i=0; i<meusTweets.length; i++) {
                    meusTweets.item(i).style.display = "block";
                }
            }
        };

        const btTweetsTimeline = document.getElementById("btTimeline");
        const tweetsTimeline = document.getElementsByClassName("tweet");
        var btTweetsTimelineEstaAtivo = false;

        btTweetsTimeline.onclick = function(){
            btTweetsTimeline.classList.toggle("ativo");
            btTweetsTimelineEstaAtivo = !btTweetsTimelineEstaAtivo;
            if (btTweetsTimelineEstaAtivo) {
                for (var i=0; i<tweetsTimeline.length; i++) {
                    tweetsTimeline.item(i).style.display = "none";
                }
            } else {
                for (var i=0; i<tweetsTimeline.length; i++) {
                    tweetsTimeline.item(i).style.display = "block";
                }
            }
        };
    </script>
</body>
</html>