<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Tweets</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="filtros">
            <div>
                <form action="">
                    <input type="text" id="busca" name="busca" placeholder="Digite uma palavra" value="{{ busca }}">
                    <button type="submit" class="btn btn-default">BUSCAR</button>
                </form>
            </div>
            <div class="dvBtsFiltros">
                <button class="btFiltros" id="btMeusTweets">MEUS TWEETS</button>
                <button class="btFiltros" id="btTimeline">TIMELINE</button>
                <button class="btFiltros ativo" id="btTodosTweets">TODOS</button>
            </div>
        </div>

        <div class="tweets">

            {% for tweet in tweets.values() %}
                {% if (busca in tweet.text) or (busca == "") %}
                    <div class="dvTweet {% if tweet.user.screen_name == "PichamonUcl" %}meuTweet{% else %}tweet{% endif %}">
                        <div class="cabecalho">
                            <div class="img">
                                <img alt="{{ tweet.user.screen_name }}" src="{{ tweet.user.profile_image_url }}">
                            </div>
                            <div class="nome">
                                <a href="https://twitter.com/{{ tweet.user.screen_name }}" target="_blank">
                                    <span class="nomeExibicao">{{ tweet.user.name }}</span>
                                    <span class="nomeArroba">@{{ tweet.user.screen_name }}</span>
                                </a>
                                <br>
                                <span class="dataTweet">{{ tweet.created_at }}</span>
                            </div>
                        </div>
                        <div class="corpo">
                            <div class="texto">
                                <p>{{ tweet.text }}</p>
                                <br><br><p><b>Pontuação/polaridade:</b> {{ tweet.polaridade }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
    </div>

    <script>
        const btFiltros = document.getElementsByClassName("btFiltros");
        for (var i=0; i<btFiltros.length; i++) {
            btFiltros[i].onclick = function () {

                for (var y=0; y<btFiltros.length; y++) {
                    btFiltros[y].classList.remove("ativo");
                }
                this.classList.add("ativo");
                const tipoTweet = this.getAttribute("id");

                const tweets = document.getElementsByClassName("dvTweet");
                for (var z=0; z<tweets.length; z++) {
                    if ((tweets[z].classList.contains('meuTweet') && tipoTweet=="btMeusTweets") || (tweets[z].classList.contains('tweet') && tipoTweet=="btTimeline") || (tipoTweet=="btTodosTweets")) {
                        tweets[z].style.display = "block";
                    } else {
                        tweets[z].style.display = "none";
                    }
                }
            }
        };
    </script>
</body>
</html>